<div [formGroup]="editForm">
    <div class="form-group row">
        <label for="field-input-editor" class="col col-3 col-form-label">Editor</label>

        <div class="col col-9">
            <label class="btn btn-radio" [class.active]="editForm.controls.editor.value === 'Multi'">
                <input type="radio" class="radio-input" formControlName="editor" value="Multi" />

                <i class="icon-control-Multi"></i>

                <span class="radio-label">Multi</span>
            </label>
        </div>
    </div>
    <div class="form-group row">
        <label for="field-allowed-values" class="col col-3 col-form-label">Allowed Values</label>

        <div class="col col-6">
            <sqx-tag-editor
                formControlName="allowedValues"
                (onBlurEvent)="SyncAllowed()"
            >
            </sqx-tag-editor>
        </div>
    </div>
    <div class="form-group row">
        <label for="field-default-values" class="col col-3 col-form-label">Default Values</label>

        <div class="col col-6">
            <sqx-multi-editor formControlName="defaultValues"
                [items]="allowedValuesHolder"
                >
            </sqx-multi-editor>
        </div>
    </div>
</div>
