version: '2'

services:
  squidex_rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
      - "5672:5672"
  squidex_redis:
    image: redis:alpine
    ports: 
      - "6379:6379"
    networks:
      - squidex_network
  squidex_mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - squidex_network
    container_name: dependencies_squidex_mongo_1
  squidex:
    image: squidex:dev
    ports:
      - "5000:5000"
    build:
      args:
        source: ${DOCKER_BUILD_SOURCE}
    environment:
      - DOTNET_USE_POLLING_FILE_WATCHER=1
      - ASPNETCORE_URLS=http://+:5000
    volumes:
      - ./src/Squidex:/app
      - ~/.nuget/packages:/root/.nuget/packages:ro
      - ~//clrdbg:/clrdbg:ro
    entrypoint: tail -f /dev/null
    labels:
      - "com.microsoft.visualstudio.targetoperatingsystem=linux"
    external_links:
      - dependencies_squidex_mongo_1
    networks:
      - squidex_network
    depends_on:
      - squidex_mongo
    extra_hosts:
    - "account.cpdv.ninja:10.0.1.43"
networks:
    squidex_network:
      driver: bridge