<sqx-title message="{app} | {schema} | Content" parameter1="app" parameter2="schema" value1="{{appName() | async}}" value2="{{schema.name}}"></sqx-title>

<form [formGroup]="contentForm" (ngSubmit)="saveAndPerformAction()">
    <sqx-panel panelWidth="53rem">
        <div class="panel-header">
            <div class="panel-title-row">
                <div class="float-right" *ngIf="!content || content.status !== Status.Archived">
                    <span *ngIf="isNewMode">
                        <button type="button" class="btn btn-secondary" (click)="saveAsDraft()" title="CTRL + S">
                            Save as Draft
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="isAppEditor()">
                            Save and Publish
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="isAppAuthor()">
                            Save and Submit
                        </button>
                    </span>
                    <span *ngIf="!isNewMode && !isViewOnly">
                        <button type="submit" class="btn btn-primary" title="CTRL + S">
                            Save
                        </button>
                    </span>
                    
                <sqx-shortcut keys="ctrl+s" (trigger)="saveAndPerformAction()"></sqx-shortcut>
                </div>
                
                <h3 class="panel-title" *ngIf="isNewMode">
                    New Content
                </h3>
                <h3 class="panel-title" *ngIf="!isNewMode && !content.isArchived && !isViewOnly">
                    Edit Content
                </h3>
                <h3 class="panel-title" *ngIf="(!isNewMode && content.isArchived) || isViewOnly">
                    View Content
                </h3>
            </div>

            <a class="panel-close" sqxParentLink>
                <i class="icon-close"></i>
            </a>
        </div>

        <div class="panel-main">
            <div class="panel-content panel-content-scroll">
	            <div *ngFor="let field of schema.fields | slice:1">
	                <sqx-content-field [field]="field" 
	                                   [fieldForm]="contentForm.controls[field.name]" 
	                                   [languages]="languages" 
	                                   [contentFormSubmitted]="contentFormSubmitted"
	                                   (onBlurEvent)="analyzeForTags($event)"></sqx-content-field>
	            </div>
	            <sqx-content-field [field]="schema.fields[0]" [fieldForm]="contentForm.controls[schema.fields[0].name]" [languages]="languages" [contentFormSubmitted]="contentFormSubmitted"></sqx-content-field>
            </div>
            <div class="panel-sidebar">
                <a class="panel-link" routerLink="history" routerLinkActive="active" *ngIf="!isNewMode">
                    <i class="icon-time"></i>
                </a>
                <a class="panel-link" routerLink="assets" routerLinkActive="active">
                    <i class="icon-media"></i>
                </a>
            </div>
        </div>
    </sqx-panel>
</form>

<router-outlet></router-outlet>