<div [formGroup]="importForm">
    <div class="panel-main">
        <div class="panel-content">
            <h1>Import Content</h1>
            <ul>
                <li><small style="margin-bottom: 0;">Imported file must be of type .csv</small></li>
                <li><small style="margin-bottom: 0;">Row one must be the Name of each field</small></li>
                <li><small style="margin-bottom: 0;">A column for tags must be included</small></li>
                <li><small style="margin-bottom: 0;">Tags should be separated by a comma</small></li>
            </ul>
            <div class="file-drop" (sqxFileDrop)="addFile($event)">
                <h3 class="file-drop-header">Drop file here to import</h3>
                <div class="file-drop-or">or</div>
                <div class="file-drop-button">
                    <span class="btn btn-success" (click)="fileInput.value = ''; fileInput.click()">
                        <span>Select File</span>
                        <input class="file-drop-button-input" type="file" accept=".csv" (change)="addFile($event.target.files)" #fileInput />
                    </span>
                    <div class="row">
                        <sqx-import class="col-3" *ngIf="file !== null" [initFile]="file" [publish]="importForm.controls['publish'].value"
                                    (failed)="onImportFailed(file)"
                                    (loaded)="onImportLoaded(file)">
                        </sqx-import>
                    </div>
                </div>
            </div>
            <label class="form-check-label">
                <input value="publish" class="form-check-input" formControlName="publish" type="checkbox" />{{publishOrSubmit}} Content
            </label>
            <div>
                <small>
                    Select whether or not to publish/submit the content upon upload.
                </small>
            </div>
        </div>
    </div>
</div>

<sqx-dialog-renderer></sqx-dialog-renderer>
