<link rel="stylesheet" type="text/css" href="http://civiccenter.cpqa.ninja/assets/Styles/CPToolbar--system.css">
<ul class="nav navbar-nav cp-AdminWrap">
    <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" id="product-name" (click)="modalMenu.toggle()">CP Products</span>

        <div class="dropdown-menu" *sqxModalView="modalMenu" closeAlways="true" [@fade]>
            <div *ngIf="products.length > 0">
                <a class="dropdown-item cp-NavMenuList-itemLink cp-NavMenuList-itemLink--hasIcon" *ngFor="let product of products" href="{{product.productUri}}" target="_blank" ng-switch="product.currentProduct">
					<img class="cp-NavMenuList-itemIcon" ng-if="product.logoUri" [src]="product.logoUri"/>
					<span>{{product.name}}</span>
				</a>

                <div class="dropdown-divider"></div>
            </div>
        </div>
    </li>
</ul>