<nav class="navbar fixed-top navbar-inverse cp-Toolbar cp-AdminWrap" style="position: fixed;">
    <span class="navbar-brand icon-CPLogo--new" routerLink="/app">
        <span class="path1"></span>
        <span class="path2"></span>
    </span>

    <div class="float-left cp-products-menu">
        <cp-products-menu></cp-products-menu>
    </div>

    <div class="float-right profile-menu">
        <cp-profile-menu></cp-profile-menu>
    </div>
</nav>

<div class="main">
    <router-outlet></router-outlet>
</div>

<div class="notification-container">
	<div class="notification-item notification-{{notification.messageType}}" *ngFor="let notification of notifications" (click)="close(notification)">
		{{notification.message}}
	</div>
</div>

<sqx-dialog-renderer></sqx-dialog-renderer>

<div sqxRootView></div>
