<span> This is the multi input. </span>

<div *ngFor="let value of allowedValues">
    <input type="checkbox" class="form-control"
        [id]="value+field.fieldId"
        [value]="value" />
    <label [for]="value+field.fieldId">{{value}}</label>
</div>

<input type="text" class="form-control" (blur)="markTouched()"
    [formControlName]="addInput"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off">

<div class="items">
    <span class="item" *ngFor="let item of items; let i = index" [class.disabled]="addInput.disabled">
        {{item}} <i class="icon-close" (click)="remove(i)"></i>
    </span>
</div>
