<form [formGroup]="editForm" (ngSubmit)="savePattern()">
	<div class="form-group">
		<label for="schema-name">Name</label>

		<input type="text" class="form-control" id="pattern-name" [attr.value]="name" readonly />
	</div>

    <div class="form-group">
		<label for="schema-label">Pattern</label>
        
        <sqx-control-errors for="pattern" [submitted]="editFormSubmitted"></sqx-control-errors>

		<input type="text" class="form-control" id="pattern-pattern" formControlName="pattern" />
	</div>

    <div class="form-group">
		<label for="pattern-message">Message</label>
        
        <sqx-control-errors for="message" [submitted]="editFormSubmitted"></sqx-control-errors>

        <textarea type="text" class="form-control" id="pattern-message" formControlName="message" rows="4"></textarea>
	</div>

    <div class="form-group clearfix">
        <button type="reset" class="float-left btn btn-secondary" (click)="cancel()" [disabled]="editFormSubmitted">Cancel</button>
        <button type="submit" class="float-right btn btn-primary">Save</button>
    </div>
</form>